{embed="home/portraits"}{layout="layout/site" title="大屈影像｜写真作品精选｜摄影工作室｜广州&amp;深圳&amp;三亚&amp;海口"}

<main>

	<article class="backstretch">
		
		<div class="title">
			<p>形象照*</p>
			<h1>{sample_title}</h1>
		</div>

		<div class="guide">
			<span class="icon-phone-portrait orientation"></span>
			<p class="mention">* 上下滑動或翻轉屏幕瀏覽</p>
		</div>

		{sample_cover}
			<img id="backstretch" src="{url}" alt="{sample_gallery:sample_gallery_file_desc}" width="{exp:mx_calc expression="{width}/2"}" height="{exp:mx_calc expression="{height}/2"}">
		{/sample_cover}

	</article>

	{sample_gallery}

		{sample_gallery:sample_gallery_file}
	
			<article class="backstretch">
				<img id="backstretch" src="{url}" alt="{sample_gallery:sample_gallery_file_desc}" width="{exp:mx_calc expression="{width}/2"}" height="{exp:mx_calc expression="{height}/2"}">
			</article>
	
		{/sample_gallery:sample_gallery_file}
	
	{/sample_gallery}

	<a href="{path="service/work"}#work">
	
		<article class="return">
			<span class="pointer">&#8681;</span>
			<p>點擊此處返回規格</p>
		</article>
	
	</a>

</main>